body{
    padding-top: 30px;
}

h2
{
	text-align: center;
}

.login-body{
	padding: 10% ;
}
.login
{
	padding: 2%;
	width: auto;
	color: rgb(8, 120, 248);
	border-radius: 30px;
	margin-top: 1px;
	margin-right: 30%;
	margin-bottom: auto;
	margin-left: 30%;
}
.nav-bar
{
	padding: 1%;
	width: auto;
	color: rgb(8, 120, 248);
	border-radius: 30px;
	margin-top: 1px;
	margin-right: 35%;
	margin-bottom: auto;
	margin-left: 35%;
}

.info-usuario{
	padding: 1%;
	width: auto;
	color: rgb(8, 120, 248);
	margin-top: 5%;
	margin-right: 3%;
	margin-bottom: auto;
	margin-left: 3%;
}

.registro-usuario{
	padding: 1%;
	width: auto;
	color: rgb(8, 120, 248);
	border-radius: 50px;
	margin-top: 5%;
	margin-right: 3%;
	margin-bottom: auto;
	margin-left: 3%;
}

.tabla-usuario{
	color: rgb(8, 120, 248);
}
